body {
    font-family: monospace;
}

#console-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow-y: auto;
    height: 400px;
}

#console-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
}
