<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router Console</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <style>
        #terminal {
            height: 300px;
        }
    </style>
</head>
<body>
    <button onclick="connectToConsole()">Connect to Router Console</button>
    <div id="terminal"></div>
    <script>
        //const socket = io.connect('http://127.0.0.1:5000');
        //const socket = io.connect('http://127.0.0.1:5000/console');
        const socket = io.connect();
        const terminalContainer = document.getElementById('terminal');
        const term = new Terminal();

        term.open(terminalContainer);

        socket.on('connect', function() {
            console.log('WebSocket connected');
        });

        socket.on('output', function (data) {
            term.write(data);
        });

        let commandBuffer = '';

        function connectToConsole() {
            const command = 'telnet 192.168.20.12 32769';
            socket.emit('command', command);
        }

        // term.onData(e => {
        //     socket.emit('command', e);
        // });

        term.onData(e => {
            // Buffer the keystrokes until Enter is pressed
            if (e === '\r') {
                // Send the accumulated command to the server
                socket.emit('command', commandBuffer);
                // Clear the command buffer
                commandBuffer = '';
            } else {
                // Accumulate the keystrokes
                commandBuffer += e;
            }
        });

        // term.onData(e => {
        //     // Echo the character back to the terminal
        //     term.write(e);
        //     // Send the character to the server
        //     socket.emit('command', e);
        //});


        // Listen for key events to focus on the terminal
        document.addEventListener('keydown', () => {
            term.focus();
        });

    </script>
</body>
</html>
