/* Initially hide the new section */
#newSectionContainer {
    display: none;
}

#ShowRestoreTask1 {
    display: none;
}


#ShowRestoreTask2 {
    display: none;
}



#ShowRestoreTask3 {
    display: none;
}

