<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APNIC Academy Lab Automation</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="stracture fix">
        <h2>APNIC Certification Lab Automation</h2>
        <hr style="border-style: inset; border-width: 2px">
        </br>
        <h3>Select a lab and click on "Submit" button to start provisioning</h3>
        <form id="myForm" method="POST">
            <label for="options">Select a lab:</label>
            <select id="options" name="selected_option">
                <option value="option1" selected>Choose option</option>
                <option value="option2">IPv6 Basic Connectivity Lab</option>
                <option value="option3">Lab 2</option>
                <option value="option4">Lab 3</option>
            </select>
            <br>
            <br>
            <button type="button" onclick="selectLab()">Submit</button>
        </form>
    </div>



    <script>
    function selectLab() {
        var selectedOption = document.getElementById("options").value;
        var form = document.getElementById("myForm");
    
        if (selectedOption === "option2") {
            form.action = "/ipv6-basic-provision";
        } else if (selectedOption === "option3") {
            form.action = "/lab2";
        } else if (selectedOption === "option4") {
            form.action = "/lab3";
        } else {
            // Handle other cases or show an error
            alert("Invalid option selected");
            return;
        }
    
        form.submit();
    }
    </script>
</body>
</html>

