<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APNIC Academy Lab Automation</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="stracture fix">
        <h1>IPv6 Basic Connectivity Lab</h1>
        <h2>Stop Nodes</h2>

        <hr style="border-style: inset; border-width: 2px">

        <!-- Container for the first section -->
        <div id="ShowStopNode">
            <h3>Click on "Stop Node" to stop nodes inside EVE-NG</h3>
            <button type="button" onclick="SubmitStopNode()">Stop Node</button>
            </br></br>
        </div>

        <div id="DivSubmitStopNode">
            <b id="OutputSubmitStopNode"></b>
        </div>
        <hr>

        <!-- Container for the second section -->
        <div id="ShowMonitorNode">
            <h3>Click on "Monitor Node" to check the latest status of nodes</h3>
            <button type="button" onclick="SubmitMonitorNode()">Monitor Node</button>
        </div>

        <div id="DivSubmitMonitorNode">
            <b id="OutputSubmitMonitorNode"></b>
        </div></br>
        <hr>

        <div>
            <p><b>N.B. Go to the home page to proceed for next lab.</b></p>
            <button type="button" onclick="NextPage()">Home Page >></button>
        </div></br>
        <hr>

        <p><b>Important:</b> Do not reload this page or go back home page until you finish all the tasks.</p>
    
    </div>
   

    <script>
        function SubmitStopNode() {
            // Make an AJAX request to the server
            fetch("/ipv6-basic-node-stop", {
                method: "POST",
            })
            .then(response => response.text())
            .then(OutputSubmitStopNode => {
                // Log the result to the console
                console.log("Result from server:", OutputSubmitStopNode);
                // Update the content of the div based on the server response
                var DivSubmitStopNode = document.getElementById("OutputSubmitStopNode");
                OutputSubmitStopNode = OutputSubmitStopNode.replace(/\n/g, "<br>");
                DivSubmitStopNode.innerHTML = OutputSubmitStopNode + "</br>";
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

		function SubmitMonitorNode() {
            // Make an AJAX request to the server
            fetch("/ipv6-basic-node-monitor", {
                method: "POST",
            })

            .then(response => response.text())
            .then(OutputSubmitMonitorNode => {
                // Log the result to the console
                console.log("Result from server:", OutputSubmitMonitorNode);
                // Update the content of the div based on the server response
                var DivSubmitMonitorNode = document.getElementById("OutputSubmitMonitorNode");
                OutputSubmitMonitorNode = OutputSubmitMonitorNode.replace(/\n/g, "<br>");
                DivSubmitMonitorNode.innerHTML = OutputSubmitMonitorNode;

                // Call the function to show the new section
                //showNewSection2();
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }
		
		function NextPage() {
            window.open("/");
        }	
		
    </script>

</body>
</html>
