<html lang="en">
  <head>
    <title>APNIC Certification Training Lab</title>
    <style>
      /* Clear float */
      .clear {
        clear: both;
      }
    </style>
  </head>

  <body>
    <div>
    <h1>APNIC Certification Training Lab</h1>
    <h2>Module 1 - Lab -  Basic IPv6 Connetivty</h2>
    <h2><u>Device Access Information</u></h2>
    <h2>1. First login into the Jump Host (preferably using IPv6 address)</h2>
    </div>
    
    <div class="clear"></div>

    <div>
    <table border="1" style="border-collapse:collapse" width="700" align="left">
      <tr valign="top">
        <td align="middle"><b>Device Name</b></td>
        <td align="middle"><b>IPv6 Address and Port</b></td>
        <td align="middle"><b>IPv4 Address and Port</b></td>
      </tr>
      <tr valign="top">
        <td align="middle">Jump Host</td>
        <td align="middle">2406:6400:30::11 (SSH Port: 22)</td>
        <td align="middle">192.168.30.11 (SSH Port: 22)</td>
      </tr>
    </table>
    </div></br>

    <div class="clear"></div>

    <div>
    <h2>2. Then use below information to login into the lab nodes (preferably using IPv6 address)</h2>
    <h3><u>Router Login</u></h3>
    </div>

    <div>
    <table border="1" style="border-collapse:collapse" width="700" align="left">
      <tr valign="top">
        <td align="middle"><b>Target Device</b></td>
        <td align="middle"><b>Source Node</b></td>
        <td align="middle"><b>Method</b></td>
        <td align="middle"><b>IPv6 Address and Port</b></td>
        <td align="middle"><b>IPv4 Address and Port</b></td>
      </tr>
      Router_Login
    </table>
    </div>
    
    <div class="clear"></div>

    <div>
     <h3><u>Host Login</u></h3>
    </div>

    <div class="clear"></div>

    <div>
    <table border="1" style="border-collapse:collapse" width="700" height="000" align="left">
      <tr valign="top">
        <td align="middle"><b>Target Device</b></td>
        <td align="middle"><b>Source Node</b></td>
        <td align="middle"><b>Method</b></td>
        <td align="middle"><b>IPv6 Address and Port</b></td>
        <td align="middle"><b>IPv4 Address and Port</b></td>
      </tr>
      Host_Login
    </table>
    </div>

    <div class="clear"></div></br>

    <h3><a href="index.html">Back to Homepage</a><h3>

  </body>
</html>